[Unit]
Description=Archlinux mirror server rsync service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/rsync -rtlvH --delete-after --delay-updates --safe-links --exclude iso --exclude archive ftp.tku.edu.tw::archlinux /home/katio-nc/archlinux-mirror

[Install]
WantedBy=multi-user.target
