[Unit]
Description=Green Tunnel daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/gt --port 41935

[Install]
WantedBy=multi-user.target
