[Unit]
Description=Mackerel Agent Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/mackerel-agent

[Install]
WantedBy=multi-user.target
